---
name: blog_post
async_callback_actions:
  delay:
  content:
resource: Customization
resource_owner: anyone
flash_notice: "Post has beed successfuly updated"
return_to: /dashboard/blog
configuration:
  properties:
    title:
      validation:
        presence: true
    content:
      validation:
        presence: true
    slug:
      validation:
        presence: true
    excerpt:
      validation:
        presence: true
    published_at:
      validation:
        presence: false
    tags:
      validation:
        presence: false
    blog_instance_id:
      validation:
        presence: true
    author_name:
      validation:
        presence: true
    author_biography:
      validation:
        presence: false
  custom_images:
    hero_image:
      image:
        validation: {
          file_content_type: { allow: ['image/jpeg', 'image/png', 'image/gif'] }
        }
    author_avatar:
      image:
        validation: {
          file_content_type: { allow: ['image/jpeg', 'image/png', 'image/gif'] }
        }
default_payload: |-
  {% if form %}
    {%- query_graph 'get_blog_instance', result_name: bi, scope: 'blog' -%}
    {%- assign blog_instance = bi.customizations.results.first -%}
    {
      "properties_attributes": {
        "blog_instance_id": "{{ blog_instance.id }}",
        "slug": "{{ params.properties_attributes.title | default: '' | slugify }}"
      }
    }
  {% endif %}
---
{%- include 'modules/utils/public/views/partials/utils' -%}

{%- assign tags = f.properties.tags.value | join: ', ' -%}
{%- assign date_format_short_label = 'mm/dd/yyyy' -%}
{%- capture date_hint -%}Format: {{ date_format_short_label }}{%- endcapture -%}

{% form html-class: 'pt-5 with-borders' %}
  {% if params.page_id != blank %}
    <input type="hidden" name="page_id" value="{{ params.page_id }}">
  {% endif %}

  {%- include flash_messages -%}

  {%- include input with f.properties.title, type: "text" -%}
  {%- include input with f.properties.published_at,
    type: "date",
    placeholder: date_format_short_label,
    label: "Publish At"
  %}

  <span class="switch switch">
    {% assign published_at = form_builder.fields.properties.published_at.value | date: '%s' %}
    {% assign now_in_miliseconds = 'now' | date: '%s' %}
    <input type="checkbox" class="switch" id="switch-normal" {% if now_in_miliseconds > published_at %}checked='checked'{% endif %} name="{{ form_builder.fields.properties.published_at.name }}"  value="{{ 'now' | date: '%d/%m/%Y' }}">
    <label for="switch-normal">Publish Now</label>
  </span>

  {%- include input with f.custom_images.hero_image.image, type: "image", label: "Hero Image" -%}
  {%- include input with f.properties.content, type: "textarea", input_data_attrs: 'data-wysiwyg="content"' -%}
  {%- include input with f.properties.excerpt, rows: 5, type: "textarea" -%}
  {%- include input with f.custom_images.author_avatar.image, type: "image", label: "Author Avatar"-%}
  {%- include input with f.properties.author_name, type: "text" -%}
  {%- include input with f.properties.author_biography, type: "text" -%}
  {%- include input with f.properties.tags, type: "text",
     placeholder: "Tags separated with comma",
     html-value: tags
  -%}
  {% include submit_tag, class: 'btn btn-primary btn-lg', disable_with: 'saving...' %}
{% endform %}
